@page "/"

<h1>Hello, world!</h1>
<h3>Custom Modal Example</h3>

<button @onclick="OpenModal">Open Modal</button>

<CustomModal @ref="modalRef">
    <p>This is a custom modal.</p>
</CustomModal>

@code {
    
}